<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/styleindex.css' />
  <title>Mongoose flights</title>
</head>


<body>
  <ul class="menu">
      <li><a class="buttons" href="/flights/new">Add Flight</a></li>
      <li><a class="buttons" href="/flights">All Flights</a></li>
  </ul>
  <h1>Flight List</h1>
  <div class="container">
  <table class ='flight-info'>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departsDate %></td>
          <td><a href="/flights/<%= flight._id %>">Flight Details</a> </td>
        </tr>
    <% }) %>
    </tbody>
  </table>
</div>
</body>
</html>
