<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styleshow.css' />
    <title>Document</title>
</head>
<body>
    <ul class="menu">
        <li><a class="buttons" href="/flights/new">New Flight</a></li>
        <li><a class="buttons" href="/flights">All Flights</a></li>
      </ul>
      <h1>Flight Information</h1>
    <section>
        <div>Airline</div>
        <div><%= flight.airline %></div>
        <div>Airport</div>
        <div><%= flight.airport %></div>
        <div>Flight Number </div>
        <div><%= flight.flightNo %></div>
        <div>Depart Info</div>
        <div><%= flight.departs %></div>
        <br>
        <br>

        <h2>Flight Arrival Information</h2>
        <br>



        
        <form id="add-destination-form" method="POST"
        action="/flights/<%= flight._id %>/destinations">
        <label>Airport:</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <label>Arrival:</label>
        <input type="datetime-local" name="arrival" value="yyyy-MM-ddThh:mm"
        min="2022-08-04T00:00" max="2023-03-04T00:00">
        <input type="submit" value="Add Destination">
      </form>
      <br>

      <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Arrival</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(f) { %>
              <tr>
                <td><%= f.airport %></td>
                <td><%= f.arrival %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Arrival information available</h5>
      <% } %>
        
</body>


</html>